body {
    background: #66ccff;
    margin:0px;
}

.sun {
    position:absolute;
    top: 7%;
    left: 7%;
    width: 15vh;
    height: 15vh;
    border-radius:50%;
    background:#ffeb34dc;
   }

.cloud {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 10vh;
  height: 8vh;
  background: white;
  border-radius: 50%;
  box-shadow: 
    6vh -2vh 0 0 white, 
    8vh 2vh 0 0 white, 
    12vh 0 0 0 white;
  opacity: 0.9;  
  z-index: 1;
}

.plane { 
  position: absolute;
  top: 50%;
  left: 25%;
  transform: rotate(-6deg); 
}

.fuselage {
  position: absolute;
  width: 45vh;
  height: 12vh;
  background: lightgrey;
  border-radius: 44vh;
  box-shadow:
    0 0 0 0.2vh rgb(42, 42, 112);
}

.fuselage::before {
  content: "";
  position: absolute;
  left: -8vh;
  width: 28vh;
  height: 12vh;
  background: lightgrey;
  border-radius: 80%;
  box-shadow:
    0 0 0 0.2vh rgb(42, 42, 112);
  z-index: -1;
} 

.fuselage::after{
  content: "";
  position: absolute;
  left: 25vh; 
  width: 28vh; 
  height: 12svh;
  background: lightgrey;
  border-radius: 80%;
  box-shadow:
    0 0 0 0.2vh rgb(42, 42, 112);
  z-index: -1;
}
.tail {
  position: absolute;
  left: -8vh;
  width: 28vh;
  height: 12vh;
  background: lightgrey;
  border-radius: 80%;
}


.nose {
  position: absolute;
  left: 25vh; 
  width: 28vh; 
  height: 12vh;
  background: lightgrey;
  border-radius: 80%;
}

.nose:after {
  content: "";
  position: absolute;
  top: 2.75vh;
  left: 20.5vh;
  width: 7vh; 
  height: 5vh;
  background: linear-gradient(white, rgb(83, 171, 201));
  border-radius: 80%;
  box-shadow:
    0 0 0 0.1vh rgb(42, 42, 112);
}

.windows {
  position: absolute;
  top: 4.75vh;
  left: 5vh;
  width: 2vh;
  height: 2.5vh;
  border-radius: 50%;
  background: rgb(135, 197, 218);
  box-shadow:
    0 0 0 0.1vh rgb(42, 42, 112),
    4vh 0 0 0 rgb(135, 197, 218),
    4vh 0 0 0.1vh rgb(42, 42, 112),       
    8vh 0 0 0 rgb(135, 197, 218),
    8vh 0 0 0.1vh rgb(42, 42, 112),      
    12vh 0 0 0 rgb(135, 197, 218),
    12vh 0 0 0.1vh rgb(42, 42, 112),      
    16vh 0 0 0 rgb(135, 197, 218),
    16vh 0 0 0.1vh rgb(42, 42, 112),
    20vh 0 0 0 rgb(135, 197, 218),
    20vh 0 0 0.1vh rgb(42, 42, 112),      
    24vh 0 0 0 rgb(135, 197, 218),
    24vh 0 0 0.1vh rgb(42, 42, 112),
    28vh 0 0 0 rgb(135, 197, 218),
    28vh 0 0 0.1vh rgb(42, 42, 112),
    32vh 0 0 0 rgb(135, 197, 218),
    32vh 0 0 0.1vh rgb(42, 42, 112);           
}

.wing-up {
  position: absolute;
  left: 15vh;
  top: -22.5vh;
  width: 15vh;
  height: 25vh;
  background: lightgrey;
  z-index: -1;

  clip-path: polygon(
  50% 0%,  
  100% 100%, 
  0% 100%,  
  0% 0% );

  transform: rotate(-10deg);
}

.wing-up-border {
  position: absolute;
  left: 14.95vh;
  top: -22.7vh;
  width: 15.5vh;
  height: 26vh;
  background: rgb(42, 42, 112);
  z-index: -2;

  clip-path: polygon(
  50% 0%,  
  100% 100%, 
  0% 100%,  
  0% 0% );

  transform: rotate(-10deg);
}

.wing-down {
  position: absolute;
  left: 15vh;
  top: 10.5vh;
  width: 15vh;
  height: 25vh;
  background: lightgrey;
  z-index: -1;

  clip-path: polygon(
  0% 0%, 
  100% 0%, 
  50% 100%, 
  0% 100% );

  transform: rotate(10deg);
}

.wing-down-border {
  position: absolute;
  left: 14.9vh;
  top: 10vh;
  width: 15.5vh;
  height: 25.6vh;
  background: rgb(42, 42, 112);
  z-index: -2;

  clip-path: polygon(
  0% 0%, 
  100% 0%, 
  50% 100%, 
  0% 100% );

  transform: rotate(10deg);
}

.back-wing-up {
  position: absolute;
  left: -9.8vh;
  top: -4vh;
  width: 6vh;
  height: 10vh;
  background: lightgrey;
  box-shadow:
    0 0 0 0.2vh rgb(42, 42, 112);
  z-index: -1;

  transform: skew(20deg);
}

.back-wing-down {
  position: absolute;
  left: -9.8vh;
  top: 6.2vh;
  width: 6vh;
  height: 10vh;
  background: lightgrey;
  box-shadow:
    0 0 0 0.2vh rgb(42, 42, 112);
  z-index: -1;

  transform: skew(-20deg);
}
